<html>
	<head>
		<title>Home Experiment</title>
	</head>
extends layout
 html
head
title= title
link(href="http://bootswatch.com/yeti/bootstrap.min.css", rel="stylesheet")
script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
block addToHeader
body
-<<<<<<< HEAD
- nav.navbar.navbar-default(role='navigation')
- .container-fluid
- ul.nav.navbar-nav
- li Experiment
- li Logout
- block content
-=======
.navbar.navbar-inverse
div.navbar-header(style="width:100%")
a.navbar-brand(href='#') Experiment Page
ul.navbar.navbar-nav
li
p Welcome Brendan Ritter
ul.nav.navbar-nav.navbar-left
li.active
a(href='#') Active
li
a(href='#') Link
li
a(href='#') something
ul.nav.navbar-nav.navbar-right
li
something
block content
-
->>>>>>> be1a6f7... Adding navigation bar
block content
	<body>
	<center>
	<br><br>	
		<a href="editexperiment.html"><img src="Edit.png" width=160 height=160 border=0 align=center></a>
		<img src="Arrow.png" width=200 height=80 border=0 align=center>
		<a href="runexperiment.html"><img src="Play.png" width=220 height=220 border=0 align=center></a>
	<br><br><br><br><br>
		<button type='button' href="results.html" align=center>View Results</button>
	<br><br><br><br><br><br><br>
		<a href="findexperiment.html"><img src ='Delete.png' width=60 height=60 align=center></a>
	</center>
	</body>
</html>	